<div class="container min-vh-100 d-flex justify-content-center align-items-center home">
  <div class="row w-100">
<!-- Swiper -->
<swiper-container class="mySwiper" navigation="true" pagination="true">
  <swiper-slide>
    <img src="assets/imgs/emoji-bg.png" style="width: 300px">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/imgs/emoji-bg.png" style="width: 300px">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/imgs/emoji-bg.png" style="width: 300px">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/imgs/emoji-bg.png" style="width: 300px">
  </swiper-slide>
  <swiper-slide>
    <img src="assets/imgs/emoji-bg.png" style="width: 300px">
  </swiper-slide>
</swiper-container>

<script>

</script>

  </div>
</div>
