<div class="container min-vh-100 d-flex justify-content-center align-items-center about_conteiner">
  <div class="row w-100 about-conteiner text-center">
    <div class="col-lg-12 about_info mb-3">
      <h2>Acerca de Mi</h2>
      <h4>Introduccion</h4>
    </div>
    <div class="col-lg-6 col-12">
      <img src="assets/imgs/emoji-bg.png" class="img_avatar" alt="">
    </div>
    <div class="col-lg-6 col-12 about_left text-start d-flex flex-column">
      <p class="about_info col-12">Programador con experiencia en Angular, C#, .NET y SQL Server. Estudiando Tecnicatura en Desarrollo Web en la Universidad de la Matanza, donde adquirí conocimientos en Java, Spring Boot, POO, HTML, CSS, JavaScript y SQL.</p>

      <div class="about_btn w-100 d-flex justify-content-center justify-content-lg-start">
        <button class="btn btn-primary p-3 d-flex align-items-center">Descargar CV <mat-icon
            class="ms-2">arrow_downward</mat-icon> </button>
      </div>
    </div>
  </div>
</div>
