<div class="container min-vh-100 d-flex justify-content-center align-items-center home">
  <div class="row w-100">
    <div class="col-xl-2 list-conteiner">
      <ul class="social-icons p-0">
        <li><img class="icon" src="assets/imgs/instagram.svg"></li>
        <li><img class="icon" src="assets/imgs/twitter.svg"></li>
        <li><img class="icon" src="assets/imgs/linkedin.svg"></li>
      </ul>
    </div>
    <div class="col-xl-5 d-flex justify-content-center flex-column info">
      <h2 class="info__title">Hola! Soy Esteban</h2>
      <h4 class="info__subtitle">Full-Stack Developer</h4>
      <p class="info__content">Soy programador con experiencia en tecnologías como Angular, C#, .NET y SQL Server. Actualmente, formo parte del equipo de <a href="http://www.circostudio.com/">Circo Studio</a></p>
      <div class="info__btns d-flex">
        <button class="btn btn-primary me-2 p-3 d-flex">Contactame <mat-icon class="ms-2">send</mat-icon> </button>
        <button class="btn btn-outline-primary p-2 d-flex align-items-center">Descargar CV <mat-icon class="ms-2">arrow_downward</mat-icon> </button>
      </div>

    </div>
    <div class="col-xl-5 d-flex justify-content-center align-items-center">
      <img src="assets/imgs/emoji-bg.png" class="img-avatar" alt="">
    </div>
  </div>
</div>
