.home{
  .list-conteiner{
    display: flex;
    align-items: center;
  }
  .social-icons{
    margin: 0!important;
    list-style: none;

    li{
      margin-bottom: 15px;
      img{
        width: 40px;
      }
    }
  }

  .info{
    .info__title{
      font-size: 2rem;
    }
    .info__subtitle{
      font-size: 1.125rem;
      font-weight: 500;
    }
    .info__content{
      margin-bottom: 2rem;
    }
  }
}

.img-avatar{
  width: 90%;
}



@media (max-width: 992px) {
  .order1 {
    order: 1;
  }

  .order2 {
    order: 2;
  }

  .order3 {
    order: 3;
  }

  .img-avatar{
    width: 90%;
  }

  .info{
    margin-top: 2rem;
  }

}
