.home{
  .list-conteiner{
    display: flex;
    align-items: center;
  }
  .social-icons{
    margin: 0!important;
    list-style: none;

    li{
      margin-bottom: 15px;
      img{
        width: 40px;
      }
    }
  }

  .info{
    .info__title{
      font-size: 2rem;
    }
    .info__subtitle{
      font-size: 1.125rem;
      font-weight: 500;
    }
    .info__content{
      margin-bottom: 2rem;
    }
  }
}

.img-avatar{
  width: 90%;
}
