<div class="container min-vh-100 d-flex justify-content-center align-items-center home">
  <div class="row w-100 skills-conteiner">
    <div class="col-12 skills_info">
      <h2>Skills</h2>
      <h4>Mi skills técnicos</h4>
    </div>

    <div ngbAccordion class="col-12 col-lg-6 mb-2">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader class="m-0">
          <button ngbAccordionButton>
            <div class="btn-img d-flex align-items-center">
              <mat-icon>format_paint</mat-icon>
            </div>
            <div class="btn-text ms-4">
              <h3 class="p-0 m-0">FrontEnd</h3>
            </div>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="skill-list d-flex align-items-center mb-4" *ngFor="let i of habilidadesFront">
                <img [src]="i.img">
                <div class="skill-info w-100 ms-2">
                  <div class="skill-txt d-flex justify-content-between">
                    <div class="skill-title">{{i.title}}</div>
                    <div class="skill-porc">{{i.porcentaje}}%</div>
                  </div>
                  <p class="m-0"><ngb-progressbar type="primary" [value]="i.porcentaje" height="8px"></ngb-progressbar></p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div ngbAccordion class="col-12 col-lg-6">
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader class="m-0">
          <button ngbAccordionButton>
            <div class="btn-img d-flex align-items-center">
              <mat-icon>code</mat-icon>
            </div>
            <div class="btn-text ms-4">
              <h3 class="p-0 m-0">BackEnd</h3>
            </div>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div class="skill-list d-flex align-items-center mb-2" *ngFor="let i of habilidadesBack">
                <img [src]="i.img">
                <div class="skill-info w-100 ms-2">
                  <div class="skill-txt d-flex justify-content-between">
                    <div class="skill-title">{{i.title}}</div>
                    <div class="skill-porc">{{i.porcentaje}}%</div>
                  </div>
                  <p class="m-0"><ngb-progressbar type="primary" [value]="i.porcentaje" height="8px"></ngb-progressbar></p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
