
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.navbar {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  position: fixed !important;
  background: transparent !important;
  padding: {
    top: 30px;
    bottom: 30px;
  }
  &.sticky {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: white !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }
}
.navbar-light {
  .navbar-nav {
    .nav-item {
      padding: {
        right: 17px;
        left: 17px;
        bottom: 0;
        top: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      .nav-link {
        color: var(--whiteColor);
        position: relative;
        cursor: pointer;
        padding: 0;

        &::before {
          left: 0;
          width: 0;
          right: 0;
          bottom: 0;
          content: "";
          height: 1px;
          margin: auto;
          position: absolute;
          transition: var(--transition);
          background-color: var(--whiteColor);
        }
        &.active,
        &:hover,
        &:focus {
          &::before {
            width: 100%;
          }
        }
      }
    }
    &.for-responsive {
      display: none;
    }
  }
  .navbar-btn {
    a {
      border: 1px solid var(--whiteColor);
      color: var(--whiteColor);
      display: inline-block;
      border-radius: 80px;
      padding: 10px 30px;
      margin-left: 30px;
      font: {
        font-family: var(--poppins-regular);
        weight: 600;
        size: 16px;
      }
      &:hover {
        background-color: var(--whiteColor);
        color: #079ce8;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: {
      top: 12px !important;
      bottom: 12px !important;
    }
  }
  .navbar-light {
    .navbar-nav {
      background-color: var(--whiteColor);
      padding: 10px 20px;
      margin-top: 10px;
      display: none;

      .nav-item {
        padding: {
          left: 0;
          right: 0;
          top: 10px;
          bottom: 10px;
        }
        .nav-link {
          color: var(--blackColor);
          display: inline-block;
        }
      }
      &.for-responsive {
        display: block !important;
      }
    }
    .navbar-btn {
      background-color: var(--blackColor);
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }
    .navbar-toggler {
      color: black;
      font-size: inherit;
      box-shadow: unset;
      border: none;
      padding: 0;

      .burger-menu {
        cursor: pointer;

        span {
          height: 2px;
          width: 30px;
          margin: 6px 0;
          display: block;
          background: black;
        }
      }
    }
    &.active {
      .navbar-toggler {
        .burger-menu {
          span {
            &.top-bar {
              transform: rotate(45deg);
              transform-origin: 10% 10%;
            }
            &.middle-bar {
              opacity: 0;
            }
            &.bottom-bar {
              transform: rotate(-45deg);
              transform-origin: 10% 90%;
              margin-top: 5px;
            }
          }
        }
      }
      .collapse:not(.show) {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar {
    padding: {
      top: 15px !important;
      bottom: 15px !important;
    }
  }
  .navbar-light {
    .navbar-nav {
      background-color: var(--whiteColor);
      padding: 10px 20px;
      margin-top: 10px;
      display: none;

      .nav-item {
        padding: {
          left: 0;
          right: 0;
          top: 10px;
          bottom: 10px;
        }
        .nav-link {
          color: var(--blackColor);
          display: inline-block;
        }
      }
      &.for-responsive {
        display: block !important;
      }
    }
    .navbar-btn {
      background-color: var(--blackColor);
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }
    .navbar-toggler {
      color: black;
      font-size: inherit;
      box-shadow: unset;
      border: none;
      padding: 0;

      .burger-menu {
        cursor: pointer;

        span {
          height: 2px;
          width: 30px;
          margin: 6px 0;
          display: block;
          background: black;
        }
      }
    }
    &.active {
      .navbar-toggler {
        .burger-menu {
          span {
            &.top-bar {
              transform: rotate(45deg);
              transform-origin: 10% 10%;
            }
            &.middle-bar {
              opacity: 0;
            }
            &.bottom-bar {
              transform: rotate(-45deg);
              transform-origin: 10% 90%;
              margin-top: 5px;
            }
          }
        }
      }
      .collapse:not(.show) {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1550px) {
}

